@using MauiMarket.Shared.Models
@inject HttpClient Http
@inject NavigationManager Navigation
@page "/product/{id:int}"

<h1>Szczegóły</h1>

@if (product == null)
{
    <p>Ładowanie szczegółów...</p>
}
else
{
    <div class="product-details">
        @if (!isEditing)
        {
            <div>
                <p><strong>Nazwa:</strong> @product.Name</p>
                <p><strong>Opis:</strong> @product.Description</p>
                <p><strong>Cena:</strong> @product.Price zł</p>
                <AuthorizeView>
                    <Authorized>
                        <button @onclick="EnableEditing">Modyfikuj</button>
                    </Authorized>
                </AuthorizeView>
                <AuthorizeView Roles="Admin">
                    <button @onclick="DeleteProduct">Usuń</button>
                </AuthorizeView>
                <button @onclick="GoBack">Wróć</button>

                
            </div>
        }
        else
        {
            <div class="product-edit-form">
                <label>
                    Nazwa:
                    <input type="text" @bind="product.Name"/>
                </label>
                <label>
                    Opis:
                    <textarea @bind="product.Description"></textarea>
                </label>
                <label>
                    Cena:
                    <input type="number" step="0.01" @bind="product.Price"/>
                </label>
                <label>
                    Kategoria:
                    <select @bind="selectedCategoryId">
                        <option value="">-- Wybierz kategorię --</option>
                        @foreach (var category in categories)
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                    </select>
                </label>
                <button @onclick="SaveChanges">Zapisz</button>
                <button @onclick="CancelEditing">Cofnij</button>
            </div>
        }
    </div>
}

@code {
    [Parameter] public int Id { get; set; }

    private Product product;
    private bool isEditing = false;

    private List<Category> categories = new List<Category>();
    private int? selectedCategoryId;

    protected override async Task OnInitializedAsync()
    {
        product = await Http.GetFromJsonAsync<Product>($"http://localhost:5217/api/products/{Id}");
        categories = await Http.GetFromJsonAsync<List<Category>>("http://localhost:5217/api/category");
        selectedCategoryId = product.CategoryId;
    }

    private void EnableEditing()
    {
        isEditing = true;
    }

    private async Task SaveChanges()
    {
        product.CategoryId = selectedCategoryId.Value;
        var response = await Http.PutAsJsonAsync($"http://localhost:5217/api/products/{Id}", product);

        if (response.IsSuccessStatusCode)
        {
            Console.WriteLine("Product updated successfully!");
            isEditing = false;
        }
        else
        {
            Console.WriteLine("Failed to update product.");
        }
    }

    private void CancelEditing()
    {
        isEditing = false;
    }

    private async Task DeleteProduct()
    {
        var response = await Http.DeleteAsync($"http://localhost:5217/api/products/{Id}");

        if (response.IsSuccessStatusCode)
        {
            Console.WriteLine("Product deleted successfully!");
            Navigation.NavigateTo("/");
        }
        else
        {
            Console.WriteLine("Failed to delete product.");
        }
    }

    private void GoBack()
    {
        Navigation.NavigateTo("/");
    }

}